{{!< layouts/main}}
{{#content "body"}}
    <section>
        <h2>Dashboard</h2>
        <h3>Your Blog Posts</h3>
        <!-- Display user's blog posts -->
        {{#if posts.length}}
            <ul>
            {{#each posts}}
                <li>{{this.title}} - {{this.createdAt}} <a href="/post/{{this.id}}">View</a></li>
            {{/each}}
            </ul>
        {{else}}
            <p>No posts available. <a href="/dashboard/new">Create one?</a></p>
        {{/if}}
        <a href="/dashboard/new">Create New Post</a>
    </section>
{{/content}}
